body, button, input, select {
  background-color: rgb(23, 39, 63);
  color: silver;
  font-family: 'Roboto Mono', monospace;
}

.self-center {
  margin: auto;
  max-width: 1300px;
  width: 95%;
}

.centered-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.text-center {
  text-align: center;
}

.io {
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  height: 15em;
  width: 100%;
  resize: none;
  outline: none;
  font-size: medium;
  box-sizing: border-box;
  border: none;
  position: relative;
  overflow-wrap: normal;
  overflow-x: scroll;
  white-space: pre;
}

.fixed-io {
  width: 95%;
  border: 2px silver solid;
  padding: 8px 8px 8px 8px;
}

.clear-text {
  position: absolute;
  box-sizing: border-box;
  right: calc(17% + 16px);
  z-index: 100;
  color: inherit;
  background: inherit;
  border: none;
  font-family: inherit;
  font-size: xx-large;
}

.hidden {
  opacity: 0;
}

.form-id {
  width: 42%;
}